{% if messages %}

    {% for message in messages %}
    <div class="container", id="message">
        <div class="alert alert-{{ message.tags}} alert-dismissible text-center" role="alert"></div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="">&times;</span></button>
        <strong>
            {%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                Error:
            {%else%}
                {{message.tags|title}}
            {%endif%}
        </strong>
        {{message}}
    </div>
    {% endfor %}

{% endif %}