{%load static%}

<!--Nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand" href="{%url 'index'%}">
      <img src="{%static 'logo/logo.png'%}" class="logo" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">     
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'about'%}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'listings'%}">Listing</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {%if user.is_authenticated %}
              <h4>Hello {{user.username}}</h4>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'dashboard'%}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">logout</a>
                <form action="{%url 'logout'%}" method="POST" id="logout">
                  {%csrf_token%}
                  <input type="hidden">
                  
                </form>
              </li>

            {%else%}
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'register'%}">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'login'%}">Login</a>
              </li>
            {%endif%}
      </ul>
    </div>
  </div>
</nav>