
<!--Topbar-->
<section id="top-bar">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-phone"></i>contact No
            </div>
            <div class="col-md-4">
                <i class="fas fa-email"></i>abcd@relaestate.com
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>