{%load 'admin/base.html' %}
{%load static%}


{%block branding %}
<h1 id='head'>
    <img src="{% static 'logo/logo.png' %}" alt="RE website" class="brand_img"> Admin page 
</h1>
{%endblock%}

{%block extrastyle%}
<link ref="stylesheet" href={%static 'admin/css/base.css' %}>

{%endblock%}