{%extends 'base.html' %}
{%load static%}
{%block content%}
<section id='dashboard-head'class="py-4 text-blue">
    <div class=container>
        <div class="row text-center">
            <div class="col-md-12">
                <h1  class="display-4"> Dashboard</h1>
                <p>Manage all your listings</p>
            </div>
        </div>

    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
</section>
<!--Alerts-->
{%include 'partials/_alerts.html'%}
<section id='dashboard'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Welcome {{request.user.first_name}}</h3>
                {%if contacts%}
                    <p>Here are your listings</p>
                    <table class="table">
                        <thead> 
                            <tr>
                                <th scope="col">#</th>
                                <th scope ="col">Property </th>
                                <th scope ="col">contact date</th>
                                <th scope ="col">view</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            {%for contact in contacts%}
                            <tr>
                                <td>{{contact.id}}</td>
                                <td>{{contact.listing_title}}</td>
                                <td>{{contact.contact_date}}</td>
                                <td><a class="btn btn-primary" href="{% url 'listing' contact.listing_id %}">view listing</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>


                    </table>
                {%else%}

                <p> there are no enquires made by you</p>

                {%endif%}
            </div>
        </div>
    </div>

</section>



{%endblock%}