{%extends 'base.html'%}
{%load humanize%}

{%block content %}

<div class="container" >
    <div class="row text-center">
        <div class="col-md-12">

            <h1>{{listing.title}}</h1>
        </div>
    </div>
</div>


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">
              <i class="fas fa-home"></i> Listings</a>
          </li>
          <li class="breadcrumb-item active">{{listing.title}}</li>
        </ol>
      </nav>
    </div>
</section>

<section id="listingpage" class "py-4">
    <div class="container">
        <a href="{%url 'listings'%}" class="btn btn-light mb-4">Back To Listings</a>
        <div class="row">
            {%include 'partials/_alerts.html'%}
            <div class="col-md-9">
                <img src="{{listing.photo_main.url}}" alt="" class="img-main img-fluid mb-3">

                <div class="row">
                    <div class="col-md-6">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-money-bill-alt"></i> Asking Price:
                              <span class="float-right">${{listing.price|intcomma}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-bed"></i> Bedrooms:
                              <span class="float-right">{{listing.bedrooms}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-bath"></i> Bathrooms:
                              <span class="float-right">{{listing.bathrooms}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-car"></i> Garage:
                              <span class="float-right">{{listing.garage}}
                              </span>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-th-large"></i> Square Feet:
                              <span class="float-right">{{listing.sqft}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-square"></i> Lot Size:
                              <span class="float-right">{{listing.lot_size}}
                              </span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-calendar"></i> Listing Date:
                              <span class="float-right">{{listing.list_date}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-bed"></i> Realtor:
                              <span class="float-right">{{listing.realtor}}
                              </span>
                            </li>
                        </ul>

                    </div>
                       
                </div>

                <!-- Description -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        <p >{{listing.description}}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <i> Realtor for the property</i>
                        <span>{{listing.realtor}}</span>
                    </li>

                    <li class="list-group-item">
                        <!--<button class="btn btn-primary" data-toggle="modal" id="#mymodal2" >Contact for Enquiry</button>-->
                       <a class="btn btn-primary" href= "#mymodal2" data-toggle="modal">Contact for Enquiry</a>
                    </li>
                    <!--<button class="btn btn-primary" data-toggle="modal" id="#mymodal2" >Contact for Enquiry2</button>
                    <a class="btn btn-info btn-block" href="#mymodal2" data-toggle="modal">Contact for Enquiry2</a>-->
                </ul>
            </div>

        </div>
    </div>
</section>


<div class="modal" id="mymodal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">Enter you details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>               
                
            </div>

            <div class="modal-body">
                <form action={%url 'contact'%} method='POST'>
                    {%csrf_token%}

                    {% if user.is_authenticated %}
                      <input type="hidden" name="user_id" value="{{user.id}}">

                    {%else%}
                    <input type="hidden" name="user_id" value="0">
                    {%endif%}
                    <input type="hidden" name="listing_id" value="{{listing.id}}">
                    <input type="hidden" name="realtor_email" value="{{listing.realtor.email}}">


                    <div class="form-group">
                      <label for="property_name" class="col-form-label">Property:</label>
                      <input type="text" name="listing" class="form-control" value="{{listing.title}}" >
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" name="name" class="form-control" {%if user.is_authenticated%} value={{user.firstname}}{%endif%} required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-form-label">Email:</label>
                      <input type="email" name="email" class="form-control"  {%if user.is_authenticated%} value={{user.email}}{%endif%} required>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="col-form-label">Phone:</label>
                      <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                </form>
			</div>
            
        </div>
    </div>
</div>



{%endblock%}
