{%extends 'base.html'%}
{%load static%}
{% load humanize %}
{%block content %}
<h1>Listings</h1>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Listings</li>
        </ol>
      </nav>
    </div>
  </section>



<section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        <!-- Listing 1 -->
        {% if listings %}
        
          {%for listing in listings%}
          
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{listing.price|intcomma}}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{listing.title}}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{listing.address}}</p>
                  </div>

                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Sqft:{{listing.sqft}}</div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Garage: {{listing.garage}}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Bedrooms:{{listing.bedrooms}}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i> Bathrooms: {{listing.bathrooms}}</div>
                  </div>

                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{listing.realtor}}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{listing.list_date|timesince}}</div>
                  </div>

                  <hr>
                  <a class="btn btn-primary" href={% url 'listing' listing.id %} >More Info</a>
                  <button type="button" class="btn-btn-primary" onclick="{% url 'listing' listing.id %}">test</button>
                  
                </div>
              </div>
              <!--<a class="btn btn-primary" href={%url 'listing' listing.id  %}>More info</a> -->
            </div>
          {%endfor%}

        {%else%}
        <h2> No listings available</h2>
        {%endif%}            
      </div>

      <!--Added code for pagination-->   
      <div class=row>
        <div class=col-md-6>
          {% if listings.has_other_pages %}
            <ul class="pagination">
              {%if listings.has_previous%}
                <li class="page-item "><a class="page-link" href="?page={{listings.previous_page_number}}">Previous</a></li>
              {%else%}
                <li class="page-item disabled"><a class="page-link" >Previous</a></li>
              {%endif%}

              {%for i in listings.paginator.page_range %}

                {% if listings.number == i %}
                    
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {%else%}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          
                {%endif%}

              {%endfor%}
            </ul>
          {%endif%}
        </div>
      </div>
    </div>
</section>


{%endblock%}