{%extends 'base.html'%}

{%block content %}

{%load humanize%}

<h1>search</h1>

<section>
    <div class="jumbotran">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <form action="{%url 'search' %}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                      <label class="sr-only">Keywords</label>
                                      <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                                    </div>
                      
                                    <div class="col-md-4 mb-3">
                                      <label class="sr-only">City</label>
                                      <input type="text" name="city" class="form-control" placeholder="City">
                                    </div>
                      
                                    <div class="col-md-4 mb-3">
                                      <label class="sr-only">State</label>
                                      <select name="state" class="form-control">
                                        <option selected="true" disabled="disabled">State (All)</option>
                                          {% for key,value in state_choices.items%}
                                            <option value="{{key}}">{{value}}</option>
                                          {%endfor%}
                                        
                                      </select>
                                    </div>
                                </div>

                                <!--Row#2-->
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                      <label class="sr-only">Bedrooms</label>
                                      <select  name="bedrooms" class="form-control" placeholder="no of bedrooms(1 /2/3/4) ">
                                        <option selected="true" disabled="disabled">Bedrooms (Any)</option>
                                            {% for key,value in bedroom_choices.items%}
                                              <option value="{{key}}">{{value}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                      
                                    <div class="col-md-4 mb-3">
                                      <label class="sr-only">Prices</label>
                                      <select name="prices" class="form-control" placeholder="">
                                        <option selected="true" disabled="disabled">Prices (Any)</option>
                                        
                                          {% for key,value in price_choices.items%}
                                            <option value="{{key}}">{{value}}</option>
                                          {%endfor%}
                                      </select>
                                    </div>
                                </div> 
                                
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <button class="btn btn-secondary btn-block mt-1" type="submit">Submit form</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                        
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'listings' %}">
            <i class="fas fa-home"></i> Listings</a>
        </li>
        <li class="breadcrumb-item active">search results</li>
      </ol>
    </nav>
  </div>
</section>


<!--listing search results-->

<section id="listings" class="py-4">
  <div class="container">
    <div class="row">

      <!-- Listing 1 -->
      {% if listings %}
      
        {%for listing in listings%}
        
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{listing.price|intcomma}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{listing.title}}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{listing.address}}</p>
                </div>

                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft:{{listing.sqft}}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Garage: {{listing.garage}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Bedrooms:{{listing.bedrooms}}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Bathrooms: {{listing.bathrooms}}</div>
                </div>

                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{listing.realtor}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{listing.list_date|timesince}}</div>
                </div>

                <hr>
                <!--<a href="{%url 'listing' listing.id %}" class="btn btn-primary btn-lg" >More Info</a>-->
                
              </div>
            </div>
            <a class="btn btn-primary" href={%url 'listing' listing.id  %}>More info</a>
          </div>
        {%endfor%}

      {%else%}
      <h2> No listings available</h2>
      {%endif%}            
    </div>
  </div>
</section>



{%endblock%}